<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>655516137882-idbtnq1a8tvpqkrc6g37btvoaqk3k4ud.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.655516137882-idbtnq1a8tvpqkrc6g37btvoaqk3k4ud</string>
	<key>API_KEY</key>
	<string>AIzaSyDjpe9QIiYWfWA2Y9Sre9WaW8cadW-46X8</string>
	<key>GCM_SENDER_ID</key>
	<string>655516137882</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Onur.LiveScore</string>
	<key>PROJECT_ID</key>
	<string>livescore-8337f</string>
	<key>STORAGE_BUCKET</key>
	<string>livescore-8337f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:655516137882:ios:51ae14ade74a33a895a223</string>
</dict>
</plist>